<h1>Greetings,</h1>
<p>
  Dear, <strong><%= @user.first_name %></strong>
</p>
<p>Your Comment was accepted </p>
<p>
  To checkout <a href="<%= @url %>">click here</a>.
</p>
<p>Share your Knowledge and help others</p>