<h1>Greetings,</h1>
<p>
  Your admin right of the group , <strong><%= @group.name %></strong> 
  have been <strong>revoked</strong> by the owner
</p>
<p>You can no longer edit details of the group</p>