<h1>Greetings,</h1>
<p>
  You have been added to a new group, <strong><%= @group.name %></strong>
</p>
<p>
  To checkout the group <a href="<%= @url %>">click here</a>.
</p>
<p>Share your Knowledge and help others</p>
