<h1>Congratulations,</h1>
<p>
  You have just been promoted to admin in  <strong><%= @group.name %></strong>,
  group
</p>
<p>
  To checkout the group <a href="<%= @url %>">click here</a>.
</p>
<p>Now you have rights to edit the group details</p>
